<div class="page-header">
  <h1>
    <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

      <% @photos.each do |photo| %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

    <table class="table table-striped table-hover">
      <tr>
        <th>Username</th>
        <th>Photo</th>
        <th>Time Since</th>
        <th>Actions</th>
      </tr>

      <tr>
        <td><%= photo.user_id %></td>
        <td><img src="<%= photo.image %>"</td>
        <td><%= time_ago_in_words(photo.created_at) %></td>
        <td>
          <% if current_user.id == photo.user_id  %>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% else  %>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <% end  %>
        </td>
      </tr>

      </table>

      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
</div>
